body {
  font-size: 10pt;
}

div.ticker {
  margin-top: 40px;
  margin-left: 300px;
  color: #AAAAAA;
  font-weight: bold;
  width: 400px;
}

td.watch_col {
  width: 200px;
}

table {
  margin-top: 5px;
  width: 300px;
}

table.frame {
  margin-top: 50px;
}

li.active a {
  color: #FFFFFF;
}

table.frame td.up{
  color: green;
}

table.frame td.down{
  color: red;
}
