<!DOCTYPE html>
<html lang="en">
<head>

    <!-- AppNexus -->
    <script src="{{ js_api_url|safe }}"></script>
    <script>
        jQuery = $ = ANX.$;
        ANX.setConfig({{ config_object|safe }});
    </script>

    <!-- JQuery -->
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <script type="text/javascript" src="js/bootstrap-tabs.js"></script>

    <!-- Base JS -->
    <script type="text/javascript" src="js/base.js"></script>

    <!-- Base CSS -->
    <link rel="stylesheet" href="css/base.css">

    <!-- Chosen -->
    <script type="text/javascript" src="js/chosen.jquery.js"></script>
    <link rel="stylesheet" href="css/chosen.css">

    <!-- Highcharts -->
    <script src="js/highcharts.js" type="text/javascript"></script>
    <script src="js/highstock.js" type="text/javascript"></script>
    <script src="js/dynamicChart.js" type="text/javascript"></script>

    <!-- Marquee -->
    <script type="text/javascript" src="js/jquery.marquee.js"></script>

    {% block header %}{% endblock %}

    <title>{% block title %}Team Boiler Room{% endblock %}</title>
</head>
<body>

    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <h3><a href="#">ANIX - AppNexus Impression Exchange</a></h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-inner" style="padding-top: 50px;">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
