{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
    var ANIX = {};
    function updateTickerSelection() {
        chzn_key = $("#ticker-selection option:selected")[0].value;
        if (chzn_key) {
            chzn_ticker_data = ANIX['tickers'][chzn_key];
            $("#ticker-name")[0].innerHTML = chzn_key;
            $("#ticker-price")[0].innerHTML = chzn_ticker_data['last_price'];
            $("#ticker-volume")[0].innerHTML = chzn_ticker_data['volume'];
            $("#ticker-high-price")[0].innerHTML = chzn_ticker_data['max_price'];
            $("#ticker-low-price")[0].innerHTML = chzn_ticker_data['min_price'];
            if (!ANIX['last_selected'] || ANIX['last_selected'] != chzn_key) {
                ANIX['last_selected'] = chzn_key;
                plotDynamicChart('chart-container', chzn_key, chzn_ticker_data['last_price']);
            }
        }
    }
    function updateTickerData(data) {
        ANIX['tickers'] = data["tickers"];
        updateTickerSelection();
        setTimeout("fetchTickerData()", 1000);
    }
    function fetchTickerData() {
        $.ajax({
            url: "/tickers",
            success: updateTickerData
       });
    }
    $(function () {
        get_more_prices();
        fetchTickerData();
        $(".chzn-select").chosen();
        $('#ticker-selection').chosen().change(updateTickerSelection);
    });

</script>
{% endblock %}

{% block content %}

<div class="ticker">
    <marquee behavior="scroll" direction="left" scrollamount="5" width="400" id="ticker_marquee" style="color: #11DD11;">
       &nbsp;
    </marquee>
</div>

<table class="frame" style="width: 800px;">
 <tr>
  <th style="width: 350px;">
        <ul class="nav nav-tabs">
          <li id="volume_tab_header" class="active">
            <a href="javascript:switch_tab('volume_tab');">Volume</a>
          </li>
          <li id="price_tab_header">
              <a href="javascript:switch_tab('price_tab');">Price</a>
          </li>
        </ul>
  </th>
  <th>

      <form action="">
          <select data-placeholder="Choose a ticker"
                  style="width:300px; display: none" class="chzn-select"
                  tabindex="-1" id="ticker-selection">
              {% for ticker in ticker_list %}
              <option value=""></option>
              <option value="{{ ticker.publisher_id }},{{ ticker.url }},{{ ticker.geo_country }}">{{ ticker.url }} / {{ ticker.geo_country }}</option>
              {% endfor %}
          </select>
      </form>

  </th>
 </tr>
 <tr>
  <td>

        <table class="table table-bordered table-striped" style="width: 600px;" id="volume_tab">
          <tr>
            <th>Ticker
            <th>Price
            <th>Direction
            <th>Volume
          {% for x in stocks %}
          <tr>
            <td class="watch_col" id="name_{{ forloop.counter }}">
            <td class="watch_col" id="price_{{ forloop.counter }}">
            <td class="watch_col" id="direction_{{ forloop.counter }}">
            <td class="watch_col" id="volume_{{ forloop.counter }}">
          {% endfor %}
        </table>

        <table class="table table-bordered table-striped" style="width: 600px; display:none;" id="price_tab">
          <tr>
            <th>Ticker
            <th>Price
            <th>Direction
            <th>Volume
          {% for x in stocks %}
          <tr>
            <td class="watch_col" id="p_name_{{ forloop.counter }}">&nbsp;
            <td class="watch_col" id="p_price_{{ forloop.counter }}">&nbsp;
            <td class="watch_col" id="p_direction_{{ forloop.counter }}">&nbsp;
            <td class="watch_col" id="p_volume_{{ forloop.counter }}">&nbsp;
          {% endfor %}
        </table>


  </td>
  <td>

   <table class="table table-striped">
    <tr>
        <th>Ticker
        <th><span id="ticker-name">-</span>
    </tr>
    <tr>
        <td>Price
        <td><span id="ticker-price">-</span>
    </tr>
    <tr>
        <td>Volume
        <td><span id="ticker-volume">-</span>
    </tr>
    <tr>
        <td>Last Update
        <td><span id="ticker-last-update">-</span>
    </tr>
    <tr>
        <td>High Price
        <td><span id="ticker-high-price">-</span>
    </tr>
    <tr>
        <td>Low Price
        <td><span id="ticker-low-price">-</span>
    </tr>
   </table>


  </td>
 </tr>
</table>

<div id="chart-container"></div>

{% endblock %}

